.choice-div {
  margin-top: 64px;
  user-select: none;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 24px;
  position: relative;

  .triangle {
    user-select: none;
    position: absolute;
    width: 254px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .rock {
    grid-column: span 2;
    justify-self: center;
  }

  .option:hover {
    box-shadow: 0 0 0 23px rgba(255, 255, 255, 0.05);
    transform: scale(1.05);
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .choice-div {
    grid-column-gap: 51.63px;
    grid-row-gap: 15.34px;

    .triangle {
      width: 166px;
    }

    .option:hover {
      box-shadow: none;
      transform: none;
    }
  }
}
